.nav-pills .nav-link.active {
	color: #171616 !important;
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.nav-link:not(.active):hover {
	color: #171616;
	background-color: rgba(255, 255, 255, 0.2) !important;
}

a,
.nav-pills .nav-link {
	color: #171616;
	text-decoration: none !important;
}

.nav-item {
	margin: 16px;
}

#container {
	width: auto;
	height: 100vh;
}